@import "./global.scss";

.main-content {
    padding-top: 4rem;
    height: 100vh;
}

.sidebar {
    position: fixed;
    height: calc(100dvh - 64px);
    bottom: 0;
}

.chat {
    height: calc(100dvh - 64px);
    bottom: 0;
    background: $gray;
    // margin-top: 64px;
}

.appcontent {
    margin-left: max(25%, 300px);
    width: 100%;
}

.message-content {
    overflow-y: scroll;
    white-space: nowrap;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    width: 60%;
    margin-left: auto;
    position: relative;
}

.reply-container {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.reply-input {
    width: 80%;
}

.reply-button {
    margin-left: 10px;
}
.create-thread-button {
    margin-top: 20px;
}
  
.create-thread-button button {
    padding: 10px;
    font-size: 16px;
}
  
.new-thread-input {
    width: 80%;
    margin-right: 10px;
}

.new-thread-input button {
    padding: 10px;
    font-size: 16px;
}